<?php
    $this->headLink()->appendStylesheet($this->baseUrl() . '/modules/default/css/form.css');
    // Help
    $this->headScript()->appendFile($this->baseUrl() . '/includes/colorbox/jquery.colorbox-min.js');
    $this->headLink()->appendStylesheet($this->baseUrl() . "/includes/colorbox/colorbox.css" );

    $title = new Snep_Title("Settings");
    echo $title->getHtml();
    echo Snep_Bar::get(
            $this->translate("New Sound Files"), 
            $this->translate("Sound Files"), 
            $this->baseUrl() . "/index.php/default/sound-files",
            'add',
            NULL,
            True);
    if ($this->error['error']) :
       echo "<div class='error_box'>".$this->error['message']."</div>";
    endif;
    echo $this->form;
?>
<div style='display:none'>
    <div id='inline_content'>
        <h2>Arquivos de Sons - Incluir</h2>
        <p>Esta rotina permite:</p>
        <p><strong>Cadastro de novo Arquivo de Som:</strong></p>
        <ul>
            <li> Se for um novo arquivo a ser inserido, selecione o arquivo a partir
                do bot&atilde;o [Escolher Arquivo], preencha o campo "Descri&ccedil;&atilde;o" e defina 
                se &eacute; um arquivo do Asterisk ou de uma URA (Unidade de resposta Aud&iacute;vel).
                Informe se o arquivo deve ou n&atilde;o ser convertido para o formato GSM.</li>
        </ul>
        <p><strong>Cadastro de um arquivo disponivel de som:</strong></p>
        <ul>
            <li>Na op&ccedil;&atilde;o INCLUIR, o sistema apresenta sempre uma lista de todos 
                os arquivos existente no diret&oacute;rio padr&atilde;o de sons do Asterisk (/var/
                lib/asterisk/sounds/br) e que ainda n&atilde;o foram Cadastrados.
                <p>Cadastre o arquivo de som clicando sobre ele e preenchendo o campo
                    "Descri&ccedil;&atilde;o" e definindo se &eacute; um arquivo do Asterisk ou de uma
                    URA (Unidade de resposta Aud&iacute;vel).</p></li>
        </ul>
        <p><strong>Substitui&ccedil;&atilde;o de arquivo de som:</strong></p>
        <ul>
            <li>Neste caso, selecione o arquivo a partir do bot&atilde;o [Escolher Arquivo],
                preencha o campo "Descri&ccedil;&atilde;o" e defina se o arquivo deve 
                ou n&atilde;o ser convertido para o formato GSM.</li>
        </ul>
    </div>
</div>
<div class="secondDescription_form">
    <div class="title">
        <h2><?php echo $this->translate("Sounds available") ?></h2>
    </div>
    <form id="teste"  >
        <select id="music"name="music" size="15" width ="100" style =" width: 270px" >
            <?php
            foreach ($this->sounds_ast as $key => $value) {
                ?>
                <option  id="select"name="select" onclick="rafael('<?php echo $value ?>');" width="28px" value="<?php echo $value ?>"> <?php echo $value ?></option>

            <?php } ?>

        </select>
    </form>
</div>

<?php
$buttons = new Snep_Buttons();
$buttons->addOption('save', 'snep_form', true);
$buttons->addOption('cancel', $this->baseUrl() . '/index.php/sound-files/');
echo $buttons->getHtml();
?>
<style>
    .snep_form {
        width: 600px !important;
    }
    
</style>
<script type="text/javascript">
                $(document).ready(function() {
                    $("#file").change(function(event) {
                        $("#name").val(null);
                    });
                });

                function rafael(value) {
                    $("#name").val(value);
                    $("#file").val(null);
                }

</script>

<script type="text/javascript">

    $(document).ready(function() {
        $(".more_description").click(function(e) {
            $('.description_form').animate({height: "100%", }, 500);
            $("#text_description").show();
            $(".less_description").show();
            $(".more_description").hide();
            e.preventDefault();
        });
        $(".less_description").click(function(e) {
            $(".description_form").animate({height: "100%", }, 500);
            $("#text_description").hide();
            $(".more_description").show();
            $(".less_description").hide();
            e.preventDefault();
        });
    })
</script>