<?
$this->headLink()->appendStylesheet($this->baseUrl() . '/modules/default/css/form.css');
// Help
$this->headScript()->appendFile($this->baseUrl() . '/includes/colorbox/jquery.colorbox-min.js');
$this->headLink()->appendStylesheet($this->baseUrl() . "/includes/colorbox/colorbox.css" );

$title = new Snep_Title("Settings");
echo $title->getHtml();
echo Snep_Bar::get(
        $this->translate("Add Session"), 
        $this->translate("Music on Hold Sessions"), 
        $this->baseUrl()."/index.php/default/music-on-hold",
        'add',
        NULL,
        True);
	

if( $this->error['error'] ) : ?>
	<div class="error_box"> <?php echo $this->error['message']  ?> </div>
<?php endif ?>
        
<?php
echo $this->form;
?>
<div style='display:none'>
    <div id='inline_content'>
        <h2>Se&ccedil;&otilde;es - Incluir</h2>
        <p>Esta rotina permite que se&ccedil;&otilde;es de m&uacute;sica em 
            espera sejam Cadastradas.
        </p>
        <p>
            As m&uacute;sicas em espera s&atilde;o agrupadas em "SE&Ccedil;&Otilde;ES" 
            e por padr&atilde;o, o SNEP cria tr&ecirc;s se&ccedil;&otilde;es na sua 
            instala&ccedil;&atilde;o, al&eacute;m da se&ccedil;&atilde;o "Default" do
            Asterisk.
        </p>
        <p>
            Os arquivos de som ser&atilde;o colocados nestas se&ccedil;&otilde;es
            conforme for o casoe as se&ccedil;&otilde;es ser&atilde;o usadas de 
            acordo com o Plano de Discagem definido.
        </p>
        <p>Esta rotina atualiza o arquivo snep-musiconhold.conf.</p>
        <ul>  
            <li>
                <strong>Nome: </strong>Define o nome da se&ccedil;&atilde;o. N&atilde;o 
                use espa&ccedil;os ou caracters acentuados/especiais como: 
                &ccedil;&atilde;&eacute;@#%...  
            </li>
            <li>
                <strong>Descri&ccedil;&atilde;o: </strong>Define uma descri&ccedil;&atilde;o 
                para a se&ccedil;&atilde;o.
            </li>
            <li>
                <strong>Modo: </strong>Define a maneira com que o Asterisk ir&aacute; 
                ler o(s) arquivo(s) contido(s) na se&ccedil;&atilde;o.
            </li>
            <li>
                <strong>Diret&oacute;rio: </strong>Define o nome do diret&oacute;rio
                que ser&aacute; usado pela se&ccedil;&atilde;o. Por padr&atilde;o 
                usa-se o mesmo nome da se&ccedil;&atilde;o. N&atilde;o use 
                espa&ccedil;os ou caracters acentuados/especiais como: 
                &ccedil;&atilde;&eacute;@#%...
            </li>
            <li>
                <strong>Aplica&ccedil;&atilde;o: </strong>Define se uma 
                aplica&ccedil;&atilde;o espec&iacute;fica ser&aacute; usada 
                para "tocar" o(s) arquivo(s) de somd a se&ccedil;&atilde;o. 
                O Asterisk somentetoca arquivosdo tipo> WAV, GSM e MP3.
            </li>   
        </ul>
    </div>
</div>
<?php
    $buttons = new Snep_Buttons();
    $buttons->addOption('save', 'snep_form', true);
    $buttons->addOption('cancel', $this->baseUrl().'/index.php/music-on-hold/');
    echo $buttons->getHtml();
    
?>

<script type="text/javascript">

    $(document).ready(function() {
        $(".more_description").click(function(e) {
            $('.description_form').animate({height: "100%", }, 500);
            $("#text_description").show();
            $(".less_description").show();
            $(".more_description").hide();
            e.preventDefault();
        });
        $(".less_description").click(function(e) {
            $(".description_form").animate({height: "100%", }, 500);
            $("#text_description").hide();
            $(".more_description").show();
            $(".less_description").hide();
            e.preventDefault();
        });
    })
</script>