<?
$this->headLink()->appendStylesheet($this->baseUrl() . '/modules/default/css/form.css');
// Help
$this->headScript()->appendFile($this->baseUrl() . '/includes/colorbox/jquery.colorbox-min.js');
$this->headLink()->appendStylesheet($this->baseUrl() . "/includes/colorbox/colorbox.css" );


$title = new Snep_Title("Settings");
$title->addOption('musicsessions', $this->baseUrl() . '/index.php/music-on-hold');
echo $title->getHtml();
echo Snep_Bar::get(
        $this->translate("Add File"),
        $this->translate("File"), 
        $this->baseUrl() . "/index.php/default/music-on-hold/file/class/" . $this->class,
        NULL,
        NULL,
        True);


if ($this->error['error']) :
    ?>
    <div class="error_box"> <?php echo $this->error['message'] ?> </div>
<?php endif ?>

<?php
echo $this->form;
?>
<div style='display:none'>
    <div id='inline_content'>
        <h2>Arquivos de Sons - Incluir</h2>
        <p>
            Esta rotina permite que um arquivo de som novo seja colocado no 
            diret&oacute;rio padr&atilde;o do Asterisk e consequentemente 
            cadastrado no Sistema.
        </p>
        <p> 
            Se for um novo arquivo a ser inserido, selecione o arquivo a partir
            do bot&atilde;o [Arquivo/Browse], preencha o campo "Descri&ccedil;&atilde;o" 
            e defina se &eacute; um arquivo do Asterisk ou de uma URA (Unidade 
            de resposta Aud&iacute;vel). Informe se o arquivo deve ou n&atilde;o 
            ser convertido para o formato GSM.
        </p>
        <p> 
            Para que um arquivo de som cadastrado seja substitu&iacute;do por outro: <br/>
            Neste caso, selecione o arquivo a partir do bot&atilde;o [Arquivo/Browse],
            preencha o campo "Descri&ccedil;&atilde;o" e defina se o arquivo deve 
            ou n&atilde;o ser convertido para o formato GSM.</li>
        </p>
    </div>
</div>
<?php
$buttons = new Snep_Buttons();
$buttons->addOption('save', 'snep_form', true);
$buttons->addOption('cancel', $this->baseUrl() . "/index.php/default/music-on-hold/file/class/" . $this->class);
echo $buttons->getHtml();
?>

<script type="text/javascript">

    $(document).ready(function() {
        $(".more_description").click(function(e) {
            $('.description_form').animate({height: "100%", }, 500);
            $("#text_description").show();
            $(".less_description").show();
            $(".more_description").hide();
            e.preventDefault();
        });
        $(".less_description").click(function(e) {
            $(".description_form").animate({height: "100%", }, 500);
            $("#text_description").hide();
            $(".more_description").show();
            $(".less_description").hide();
            e.preventDefault();
        });
    })
</script>